body {
    font-family: "Courier New", Courier, monospace;
    max-width: 100%;
    overflow-x: hidden;
    font-size:16px;
}

main {
    width: 850px;
    margin: 0px auto;
    max-width: 95vw;
}

footer{
    text-align: center;
}

h1{
    font-size:1.2em;
    background: thistle;
    padding: 3px;
}

#tabs div[data-tab] {
    margin: 0px;
}

#tabs nav ul {
    margin:0px;
    padding:0px;
}

#tabs nav ul li {
    display: inline-block;
    border-style: dotted;
    padding: 10px;
    border-color:black;
    border-radius: 3px 0px 0px 0px;
    cursor: pointer;
    border-width: 1px 1px 0px 1px;
    font-size:18px;
    
}

#tabs nav ul li.active {
    border-style: solid;
    color: white;
    border-color: white;
    background-color:rgba(0, 0, 0, 0.8);
    font-weight:bold;
    margin:0px;
}
